.Chat-main
  .Group-info
    %ul.Group-info__chat-name
      %li.Group-info__chat-name__group-name
        = @group.name
      %li.Group-info__chat-name__member-name 
        Member：
        - @group.users.each do |user|
          = user.name
    .Group-info__edit-group
      = link_to edit_group_path(@group) do
        Edit
  .Message-list
    = render @messages
  .Message-form
    .New-message
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .Form__input-box
          = f.text_field :content, class: 'Form__input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'Form__input-box__image' do
            = icon("fas","image", class: 'Form__input-box__icon')
            = f.file_field :image, class: 'Form__input-box__image__file'
          = f.submit 'Send', class: 'Form__input-box__submit-btn'